$backgroundLight: #fff;
$backgroundDark: #f2f2f2;
$backgroundNav: #191919;
$colorWhite: #fff;
$primaryColorLight: #CECECE;
$primaryColorDark: #1e181a;
$secondaryColor: #00d646;
$footerColor: #1A1A1A;
$paddinBase: 10px;
$marginBase: 10px;
$opacityBase: 0.8;
$fontText: 'Lato', sans-serif;
$fontTitle: 'Permanent Marker', cursive;